{% extends "user/index.html" %}
{% load static %}
{% block title %}
<title> Add color Page </title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/color_add.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid py-5 my-5">
    <div class="row justify-content-center py-5">
        <div class="col-md-6 col-lg-4">
            <div class="form-card">
                <h3 class="form-title">Add color</h3>
                <form action="{% url 'color_add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" placeholder="color" name='color'>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" placeholder="color code" name='code'>
                    </div>
                    <button type="submit" class="btn form-btn w-100">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}