{% extends "user/index.html" %}
{% load static %}
{% block title %}
<title> Cart Page </title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/order_process.css' %}">
{% endblock %}
{% block content %}


<div class="container py-5">
    <a href="#" class="text-secondary text-decoration-none">
        <i class="fa-solid fa-angle-left" style="color: rgb(64, 105, 177);"></i> Back to Orders
    </a>
    <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
        <div>
            <h2 class="fw-bold mb-1">ORD-1781862459438</h2>
            <p class="text-muted mb-0">
                Placed on 19 June 2026 at 03:17 pm
            </p>
        </div>
        <span class="badge rounded-pill bg-warning-subtle text-warning px-3 py-2">
            Pending
        </span>
    </div>
    <div class="card shadow-sm border-0 rounded-4 p-4 mb-4">

        <h4 class="fw-bold mb-5">
            Order Progress
        </h4>
        <div class="progress-wrapper">
            <div class="step active">
                <div class="circle">1</div>
                <small>Pending</small>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="circle">2</div>
                <small>Processing</small>
            </div>

            <div class="line"></div>

            <div class="step">
                <div class="circle">3</div>
                <small>Shipped</small>
            </div>

            <div class="line"></div>

            <div class="step">
                <div class="circle">4</div>
                <small>Delivered</small>
            </div>

        </div>

    </div>


    <div class="row g-4">

        <!-- Order Items -->
        <div class="col-lg-6">

            <div class="card shadow-sm border-0 rounded-4 p-4 h-100">

                <h4 class="fw-bold mb-4">
                    <i class="bi bi-box me-2"></i>
                    Order Items
                </h4>

                <div class="d-flex">

                    <img src="iphone.jpg"
                         class="product-img">

                    <div class="ms-3 flex-grow-1">

                        <h5 class="mb-1">
                            iPhone 17 Pro Max
                        </h5>

                        <div class="text-muted">
                            256GB | Orange
                        </div>

                        <div>
                            Qty : 1
                        </div>

                    </div>

                    <h4 class="fw-bold">
                        ₹1,17,000
                    </h4>

                </div>

                <hr>

                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold">Total</h3>
                    <h2 class="text-danger fw-bold">
                        ₹1,17,000
                    </h2>
                </div>

            </div>

        </div>


        <div class="col-lg-6">
            <div class="card shadow-sm border-0 rounded-4 p-4 h-100">

                <h4 class="fw-bold mb-4">
                    <i class="bi bi-geo-alt me-2"></i>
                    Shipping Address
                </h4>

                <h5>Ayshath Hidaph</h5>

                <p class="text-muted mb-2">
                    padu mahal
                </p>

                <p class="text-muted">
                    kasaragod, kerala - 671124
                </p>

                <hr>

                <p class="text-muted">
                    <i class="bi bi-telephone me-2"></i>
                    09567262521
                </p>

                <p class="text-muted mb-0">
                    <i class="bi bi-envelope me-2"></i>
                    ayshathhidaph313@gmail.com
                </p>

            </div>

        </div>

    </div>

</div>
</form>
{% endblock %}